<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-10">
            <div class="card pt-5 mb-5">
                <h1 class="card-title text-center">Reset Password</h1>
                <div class="card-body">
                    <form [formGroup]="resetPswdForm" (ngSubmit)="resetPassword()">
                        <div class="d-flex align-items-end mb-4">
                            <div class="form-group flex-fill mb-0">
                                <label class="form-label">Verify Email:</label>
                                <input class="form-control" type="email" formControlName="emailId"
                                    placeholder="Your email address" [readonly]="isOTPSent">

                            </div>
                            <div class="px-2">
                                <input class="btn btn-secondary" type="button" [disabled]="emailId?.invalid||isOTPSent"
                                    (click)="sendOTP()" value="Send OTP">
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <small class="text-danger" *ngIf="(emailId?.touched || emailId?.dirty) && emailId?.invalid">
                                <span *ngIf="emailId?.errors?.['required']">
                                    Email is required.
                                </span>
                                <span *ngIf="emailId?.errors?.['pattern']">
                                    Enter a valid Email.
                                </span>
                            </small>
                        </div>
                        <div class="d-flex flex-column" *ngIf="isOTPSent">
                            <div class="d-flex">
                                <div class="form-group flex-fill">
                                    <label class="form-label">Enter OTP:</label>
                                    <input class="form-control" type="text" formControlName="sentOTP"
                                        placeholder="Sent OTP">
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group flex-fill">
                                    <label class="form-label">Enter NewPassword:</label>
                                    <input class="form-control" type="text" formControlName="newPassword"
                                        placeholder="New password">
                                    <small class="text-danger"
                                        *ngIf="(newPassword?.touched || newPassword?.dirty) && newPassword?.invalid">
                                        <span *ngIf="newPassword?.errors?.['required']">
                                            Password is required.
                                        </span>
                                        <span *ngIf="newPassword?.errors?.['pattern']">
                                            Your password must be 6-20 characters long, contain letters and numbers, and
                                            must not contain spaces, special characters.
                                        </span>
                                    </small>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group flex-fill">
                                    <label class="form-label">Re-enter NewPassword:</label>
                                    <input class="form-control" type="text" formControlName="confirmPassword"
                                        placeholder="Re-enter new password">
                                    <small class="text-danger"
                                        *ngIf="(confirmPassword?.touched || confirmPassword?.dirty) && confirmPassword?.invalid">
                                        <span *ngIf="confirmPassword?.errors?.['required']">
                                            Confirm Password is required.<br>
                                        </span>
                                        <span *ngIf="confirmPassword?.errors?.['didnotMatch']">
                                            Password must match with new password.<br>
                                        </span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="">
                                <button class="btn btn-primary" routerLink="/login" type="button">Back to Login</button>
                            </div>
                            <div class="">
                                <button class="btn btn-primary" type="submit"
                                    [hidden]="resetPswdForm.invalid">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>