<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-sm-10">
            <div class="card pt-5 mb-5">
                <h1 class="card-title text-center">Registration</h1>
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="d-flex flex-column">
                            <div class="d-flex">
                                <div class="form-group col-md-12">
                                    <label class="form-label" for="firstName">First Name:</label>
                                    <input id="firstName" class="form-control" type="text" formControlName="firstName">
                                    <small class="text-danger"
                                        *ngIf="(firstName?.touched || firstName?.dirty) && firstName?.invalid">
                                        <span *ngIf="firstName?.errors?.['required']">
                                            First Name is required.<br>
                                        </span>
                                        <span *ngIf="firstName?.errors?.['maxlength']">
                                            First Name cannot exceed 25 Characters.<br>
                                        </span>
                                        <span *ngIf="firstName?.errors?.['pattern']">
                                            First Name can only contain Alphabets.<br>
                                        </span>
                                    </small>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group col-md-12">
                                    <label class="form-label" for="lastName">Last Name:</label>
                                    <input id="lastName" class="form-control" type="text" formControlName="lastName">
                                    <small class="text-danger"
                                        *ngIf="(lastName?.touched || lastName?.dirty) && lastName?.invalid">
                                        <span *ngIf="lastName?.errors?.['required']">
                                            Last Name is required.<br>
                                        </span>
                                        <span *ngIf="lastName?.errors?.['maxlength']">
                                            Last Name cannot exceed 25 Characters.<br>
                                        </span>
                                        <span *ngIf="lastName?.errors?.['pattern']">
                                            Last Name can only contain Alphabets.<br>
                                        </span>
                                    </small>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group col-md-12">
                                    <label class="form-label" for="email">Email:</label>
                                    <input id="email" class="form-control" type="email" formControlName="emailId">
                                    <small class="text-danger"
                                        *ngIf="(emailId?.touched || emailId?.dirty) && emailId?.invalid">
                                        <span *ngIf="emailId?.errors?.['required']">
                                            Email is required.
                                        </span>
                                        <span *ngIf="emailId?.errors?.['pattern']">
                                            Enter a valid Email.
                                        </span>
                                    </small>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group col-md-12">
                                    <label class="form-label" for="password">Password:</label>
                                    <input id="password" class="form-control" type="text" formControlName="password">
                                    <small class="text-danger"
                                        *ngIf="(password?.touched || password?.dirty) && password?.invalid">
                                        <span *ngIf="password?.errors?.['required']">
                                            Password is required.
                                        </span>
                                        <span *ngIf="password?.errors?.['pattern']">
                                            Your password must be 6-20 characters long, contain letters and numbers, and
                                            must not contain spaces, special characters.
                                        </span>
                                    </small>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group col-md-12">
                                    <label class="form-label" for="confirmPassword">Confirm Password:</label>
                                    <input id="confirmPassword" class="form-control" type="text"
                                        formControlName="confirmPassword">
                                    <small class="text-danger"
                                        *ngIf="(confirmPassword?.touched || confirmPassword?.dirty) && confirmPassword?.invalid">
                                        <span *ngIf="confirmPassword?.errors?.['required']">
                                            Confirm Password is required.<br>
                                        </span>
                                        <span *ngIf="confirmPassword?.errors?.['didnotMatch']">
                                            Password must match with given password.<br>
                                        </span>
                                    </small>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group col-md-12">
                                    <label class="form-label" for="mobileNo">Mobile No:</label>
                                    <input id="mobileNo" class="form-control" type="text"
                                        formControlName="contactNumber">
                                    <small class="text-danger"
                                        *ngIf="(mobileNo?.touched || mobileNo?.dirty) && mobileNo?.invalid">
                                        <span *ngIf="mobileNo?.errors?.['required']">
                                            Mobile no is required.<br>
                                        </span>
                                        <span *ngIf="mobileNo?.errors?.['pattern']">
                                            Mobile no must contain only 10 digits.<br>
                                        </span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between px-3">
                            <div class="">
                                <button class="btn btn-primary" routerLink="/login" type="button">Back to Login</button>
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-primary btn-block"
                                    [disabled]="registerForm.invalid">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>