<form [formGroup]="tweetForm" (ngSubmit)="postTweet()">
    <div class="form-outline mb-4">
        <div class="form-group col-md-12">
            <textarea autosize class="form-control disable-resize" formControlName="message"
                placeholder="what's happening?"></textarea>
            <small class="text-danger" *ngIf="(message?.touched || message?.dirty) && message?.invalid">
                <span *ngIf="message?.errors?.['maxlength']">
                    Tweet cannot exceed 144 Characters.<br>
                </span>
            </small>
        </div>
    </div>
    <div class="form-outline mb-4">
        <div class="col-md-12">
            <button class="btn btn-primary btn-block" [disabled]="tweetForm.invalid">Tweet</button>
        </div>
    </div>
</form>