<div class="card">
    <div class="card-body pb-0">
        <div class="d-flex">
            <div>
                <img src="../../../assets/images/person-icon.svg" width="35" height="35" alt="Profile">
            </div>
            <div class="d-flex flex-column flex-fill">
                <app-post-tweet (postTweetEvent)="addNewTweet($event)"></app-post-tweet>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-row my-2">
    <div><button type="button" class="btn btn-danger btn-sm mr-auto" (click)="getAllTweets()">Reset</button>
    </div>
    <div class="dropdown ml-auto">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" (click)="collapse.toggle()">
            Sort By
        </button>
        <div class="dropdown-menu dropdown-menu-right" #collapse="ngbCollapse" [(ngbCollapse)]="toggler">
            <button class="dropdown-item" (click)="sortByLikes();collapse.toggle()">Likes</button>
            <button class="dropdown-item" (click)="sortByDate();collapse.toggle()">Created Date</button>
        </div>
    </div>
</div>
<div *ngIf="isTweetsAvailable" class="d-flex flex-column">
    <ul class="pl-0">
        <li *ngFor="let tweet of tweets;let index=index" class="card shadow mb-2">
            <div class="card-body shadow-lg">
                <div class="d-flex">
                    <div>
                        <img src="../../../assets/images/person-icon.svg" width="35" height="35" alt="Profile">
                    </div>
                    <div class="d-flex flex-column flex-fill pl-4">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex flex-column">
                                <button type="button" class="btn btn-link p-0"
                                    (click)="filterByEmailId(tweet.emailId)">@{{tweet.emailId.split('@')[0]}}</button>
                                <p class="text-muted small mb-0">{{tweet.createdAt | dateAgo}}</p>
                            </div>
                            <div class="d-flex align-items-center" *ngIf="isSameUser(tweet.emailId)">
                                <mat-icon class="md-18" (click)="editCurrentTweet(index)">edit
                                </mat-icon>
                                <mat-icon class="md-18" color="warn" (click)="deleteTweet(index)">delete
                                </mat-icon>
                            </div>
                        </div>
                        <div class="d-flex py-2">
                            <app-update-tweet class="d-flex flex-column flex-fill" [currTweet]="tweet"
                                [isEnabled]="isMsgBoxEnabled(index)" (isEnabledChange)="resetMsgBoxEnabledIndex()"
                                (updateTweetEvent)="updateTweet($event,index)">
                            </app-update-tweet>
                        </div>
                        <div class="d-flex py-2">
                            <div class="d-flex align-items-center border border-danger cursor-pointer shadow rounded px-3 py-1"
                                (click)="likeTweet(index)" matBadge="{{tweet.likeCount}}" matBadgeSize="small"
                                matBadgeOverlap=true>
                                <mat-icon color="warn">
                                    favorite</mat-icon>
                                <p class="mb-0">&nbsp;Like</p>

                            </div>
                            <div class="d-flex align-items-center border border-info cursor-pointer shadow rounded px-3 py-1 ml-2"
                                *ngIf="!isSameUser(tweet.emailId)" (click)="showRepliesForCurrentTweet(index)">
                                <mat-icon>reply</mat-icon>
                                <p class="mb-0">&nbsp;Reply</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer p-0 border-top" style="background-color: #f8f9fa;">
                <div class="collapse" [ngbCollapse]="!isTogglerEnabled(index)">
                    <div class="d-flex flex-column">
                        <div class="card mx-2">
                            <div class="card-body pb-0">
                                <div class="d-flex">
                                    <div>
                                        <img src="../../../assets/images/person-icon.svg" width="35" height="35"
                                            alt="Profile">
                                    </div>
                                    <div class="d-flex flex-column flex-fill">
                                        <app-reply-tweet [currTweet]="tweet"
                                            (repliedTweetEvent)="updateRepliedTweet($event,index)">
                                        </app-reply-tweet>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <app-reply-list [tweet]="tweet"></app-reply-list>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div *ngIf="!isTweetsAvailable" class="alert alert-danger text-center">
    <p class="m-0">No tweets available for user or tag. Tweet something or reset to get all tweets</p>
</div>