<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-md-3">
            <div class="d-flex flex-column sticky-bottom">
                <app-user-list (userTweetEmitter)="getTweetsOfUserFromUsersList($event)"></app-user-list>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-column">
                <app-tweet-list [tweetsInfo]="ReceivedTweets" (updateTagsEventEmitter)="getTagsUpdateStatus($event)">
                </app-tweet-list>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card d-flex flex-column p-4">
                <h2 class="card-title m-0">Trend for you</h2>
                <app-tags class="card-body p-0" (tagsTweetEmitter)="getTrendingTweetsFromTags($event)" [updateTags]="updateTags"></app-tags>
            </div>
        </div>
    </div>
</div>