<app-profile></app-profile>
<div *ngIf="!isUsersEmpty" class="card">
    <div class="border-bottom border-secondary card-title rounded-top h5 text-center bg-info text-white mb-0 py-2">Users
    </div>
    <ul class="users-list mb-0 pl-0">
        <li *ngFor="let user of users" class="card shadow-sm mb-2">
            <div class="card-body shadow-lg">
                <div class="d-flex flex-row">
                    <div class="my-auto px-2"><img src="../../../assets/images/person-icon.svg" width="35" height="35"
                            alt="Profile"></div>
                    <div class="d-flex flex-column flex-fill px-2">
                        <div>
                            <button type="button" class="btn btn-link"
                                (click)="getAllTweetsOfUser(user.emailId)">@{{user.emailId.split('@')[0]}}</button>
                        </div>
                        <div class="d-flex pl-3 small">
                            <mat-icon class="md-18">contact_mail</mat-icon>
                            <span>{{user.firstName}}&nbsp;{{user.lastName}}</span>
                        </div>
                        <div class="d-flex pl-3 small">
                            <mat-icon class="md-18"> contact_phone</mat-icon>
                            <span>{{user.contactNumber}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>