<div class="card py-2 mb-2">
    <div class="d-flex align-items-center">
        <div class="card-title flex-fill text-center mb-0">
            <mat-icon class="size-100">account_circle</mat-icon>
        </div>
    </div>
    <div class="card-body" *ngIf="!isCurrentUserNull">
        <div class="d-flex flex-column align-items-center">
            <div class="text-center">
                <h2 class="mb-0">{{currentUser.firstName}}&nbsp;{{currentUser.lastName}}</h2>
                <h4 class="mb-0">{{currentUser.emailId}}</h4>
                <h5 class="mb-0">{{currentUser.contactNumber}}</h5>
                <h4 class="mb-0"><button class="btn btn-primary" (click)="downloadTweets()">Download all tweets</button>
                </h4>
            </div>
        </div>
    </div>
</div>